.displayWeatherContainer {
    margin: 15px auto;
}
.displayWeatherOuterWrapper {
    border: 4px solid #f1f1f1;
    padding: 15px 30px;
}
.displayWeatherInner .icon {
    text-align: center;
}
.weatherData {
    margin: 10px 0;
}